@charset "UTF-8";
/* CSS Document */

/* Universal Styles */

/*div {
  border: 1px solid white;
}*/

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header Section */

header {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 1;
  background-color: black;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  top: 0;
  justify-content: space-between;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
}

nav a {
  color: seashell;
  text-decoration: underline;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Mission Section */

.mission-section {
  display: flex;
  flex-direction: column;
  background-image: url("../images/img-mission-background.jpg");
  margin-top: 69px;
  margin-right: auto;
  margin-left: auto;
  height: 700px;
  width: 1200px;
  justify-content: center;
  align-items: center;
}

.mission-section h2,
.mission-section h4 {
  background-color: black;
  width: 1200px;
  margin: 0;
  padding: 10px;
}

/* Store Section (Tea of the Month) */

.store-section {
  width: 1000px;
  margin: 69px auto;
  /*display: flex;*/
}

.store-title h2,
.store-title h4 {
  width: 1000px;
  margin: 0;
  padding: 10px;
}

.store-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.steeping img {
  height: 200px;
  width: 300px;
}

.steeping h4 {
  padding: 0;
  margin: 0;
}

.berryblitz {
  margin-left: 0;
  margin-right: 40px;
  padding-left: 0;
}

.donuts {
  margin-right: 0;
  margin-left: 40px;
}

.myrtle {
  margin-right: 40px;
  margin-top: 10px;
}

.bedford {
  margin-top: 10px;
}

.steeping h4 {
  margin-top: 10px;
}

/* Locations Section */

.locations-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/img-locations-background.jpg");
  margin: 0 auto;
  height: 500px;
  width: 1200px;
}

.all-addresses {
  display: flex;
  width: 1200px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.address {
  width: 300px;
  background-color: black;
  opacity: 1;
}

/* Contact Section */

.contact {
  height: 200px;
}

/* Footer Section */

footer {
  text-align: left;
}
